.coding-section  {
    position: relative;
    text-align: center;
    vertical-align: center;
    height: 100vh;
    bottom: 0px;
    .coding-examples {
        position: relative;
        top: 34%;
    }
}