body {
    overflow-x: hidden;
}

.scs-section {
    background-image: linear-gradient(0.4turn, rgba(55, 177, 165, .8), rgba(111, 59, 125, .8)), url("/images/pexels-tom-swinnen-2249961.jpg");  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    display: flex;
    min-height: 100vh;
    width: calc(100vw - 216px);
    color: white;
    @media (max-width: 770px) { // Mobile 
        width: 100%;
    }  
}

.scs-wrapper {
    // min-height: 92vh;
    width: 100%;
    // padding: 2%;
    padding: 0 20%;
    h1 {
        font-size: 3em;
        text-align: center;
        padding: 1em 0;
        // color: #24919D;
        @media (min-width: 1920px) {
            font-size: 2.6vw;
        }  
    }
    hr {
        color: white;
        opacity: .4;
    }
    @media (max-width: 1750px) { // Mobile 
        padding: 0 5%;
    } 
}

// .scs-card {
//     position: relative;
//     height: 100%;
//     border-radius: 5px;
//     // box-shadow: 0 0 4px 1px rgba(136, 136, 136, 0.5); 
//     // background-image: linear-gradient(0.25turn, rgba(167, 167, 167, 0.4), rgba(255, 255, 255, 0.4));
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     padding: 0 5%;
//     @media (min-width: 1920px) { // Mobile 
//         padding: 0 15%;
//     }  
//     hr {
//         color: white;
//         opacity: .3;
//     }
// }

// .card-contents {
//     width: 100%; 
// }

.card-info {
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
    color: #ffffff;
    @media (max-width: 1100px) { // Mobile 
        flex-direction: column;
    } 
    .treehouse-profile, h2, p, ul {
        width: 100%;
        list-style-type: none;
        
    }
    a {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #5FCF80;
        font-weight: 600;
        font-size: 1.2em;
        padding: 0 1em 1em 0;
        @media (min-width: 1920px) {
            font-size: 1vw;
        }  
    }
    .treehouse-profile, h2 {
        margin-right: 1em;
    }
    h2 {
        padding-bottom: 1em;   
        font-size: 2.4vh;
    }
    p, ul{
        // color: #424242;
        font-size: 1em;
        @media (min-width: 1920px) {
            font-size: .8vw;
        }  
    }
}

svg {
    height: 50px;
    width: 50px;
    padding-bottom: 1em;
}