
// Font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// Basic elements
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;  
    scroll-behavior: smooth;
}

.main {
    margin-left: 13.5em;
    @media (max-width: 770px) { // Mobile
        margin: 0;
    }  
}

// Side navigation bar
.mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 76px;
    z-index: 1;
    overflow: hidden;
    transition: 300ms;
}

.nav-bg {
    background-image: linear-gradient(0.4turn, rgba(55, 177, 165, .8), rgba(111, 59, 125, .8)), url("../images/pexels-tom-swinnen-2249961.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 1;
    display: flex;
    
    @media (min-width: 770px) { // Mobile
        display: none;
    } 
    .mobile-logo {
        margin-left: 1em;
        a {
            text-decoration: none;
            font-weight: 600;
            font-size: 3em;
            text-align: center;
            color: #b5e0e5;
        }
        
    }
}

.menu-btn {
    border-style: none;
    background: none;
    cursor: pointer;
    position: absolute;
    width: 45px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    transform: translateY(18px);
    span {
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #b5e0e5;
        margin: .3em 0;
    }
}

.cross-btn {
    border-style: none;
    background: none;
    cursor: pointer;
    position: absolute;
    width: 45px;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin-right: 1em;
    transform: translateY(34px);
    display: none;
    span {
        position: absolute;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #b5e0e5;
        // margin: .3em 0;
        
        &:nth-of-type(1) {
            transform: rotate(45deg);
        }
        &:nth-of-type(2) {
            transform: rotate(-45deg);
        }
    }
}

nav {
    height: 100vh;
    width: 13.5em;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(0.4turn, rgb(95, 192, 183), rgb(140, 99, 151));
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .2); 
    @media (max-width: 770px) { // Mobile 
        display: none;
        width: 100vw;
    }  
}

.logo {
    display: flex;
    justify-content: center;
    border-bottom: 4px solid rgba(173, 172, 196, .5);
    margin-bottom: 11.5vh;
    @media (max-height: 560px) {
        display: none;
    }  
    @media (max-width: 770px) { // Mobile 
        display: none;
    }  
    a {
        text-decoration: none;
        font-weight: 600;
        font-size: 7.4em;
        text-align: center;
        // color: #24919D;
        color: #b5e0e5;
    }
}

.main-nav {
    display: flex;
    flex-direction: column;
    @media (max-width: 770px) { // Mobile 
        margin-top: 76px; 
    } 
    li {
        text-align: center;
        list-style-type: none;
        margin: 1.7vh 0; 
        @media (max-width: 770px) { // Mobile 
            margin: 4vh 0; 
        }         
    }
    a {
        text-decoration: none;
        color: #b5e0e5;
        font-size: 1.2em;
        font-weight: 500;
        padding: .1em 0;
        border-bottom: solid #b5e0e5 3px;
        &:not(:hover) {
            border: none;
        }
        
    }
    li:nth-of-type(5) {   
        padding: .5em 0;
        border-top: 3px solid rgba(173, 172, 196, .5);
        border-bottom: 3px solid rgba(173, 172, 196, .5);
        a {
            font-weight: 600;
            &:hover {
                border: none;
            }
        }
    }
}

.socials {
    text-align: center;
    margin-top: .8em;
    a {
        text-decoration: none;
    }
    i {
        padding: 0 .5em;
        color: #b5e0e5;
        font-size: 20px;
    }
}

// Hero image section
.hero-section {
    position: relative;
    height: 100vh;
}

.hero-image {
    position: relative;
    background-image: linear-gradient(0.4turn, rgba(55, 177, 165, .8), rgba(111, 59, 125, .8)), url("../images/pexels-tom-swinnen-2249961.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    color: white;
    .hero-text {
        position: relative;
        top: 34%;
    }
    h1 {
        font-size: 4em;
        @media (max-width: 1200px) { 
            font-size: 4.7vw;
        }  
        @media (max-width: 770px) { // Mobile 
            font-size: 6vw;
        } 
        @media (max-width: 650px) { // Mobile 
            font-size: 11vw;
        } 
    }
    h2 {
        display: none;
        font-weight: 400;
    }
}

@keyframes flash {
    0% {opacity: 1;}
    40% {opacity: 1;}
    60% {opacity: 0;}
    100% {opacity: 0;}
}

.sentence::after {
    display: inline-block;
    // width: .08em;
    // height: .8em;
    font-weight: 400;
    content: "|";
    // background-color: white;
    animation: flash .6s linear infinite alternate;
}

.scroll-down {
    display: none;
    position: absolute;
    width: 12em;
    left: 50%;
    transform: translateX(-6em);
    bottom: 10%;
    color: white;
    text-align: center;
    a {
        font-size: 1.4em;
        text-decoration: none;
        color: white;
        &::after {
            transform-origin: right;
            position: absolute;
            display: flex;
            left: 50%;
            bottom: -150%;            
            content: "";
            border-radius: 30% 30%;
            width: 7px;
            height: 20px;
            transform: rotate(45deg);
            background-color: white;
        }
        &::before {
            transform-origin: left;
            position: absolute;
            display: flex;
            right: 50%;
            bottom: -150%;             
            content: "";
            border-radius: 30% 30%;
            width: 7px;
            height: 20px;
            transform: rotate(-45deg);
            background-color: white;
        }
    }
}

// Project cards section
#projects-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5em 4em 3em;
    @media (max-width: 770px) { // Mobile 
        padding: 5em 1.5em 3em;
    } 
}

.project {
    position: relative;
    width: calc(33.3% - 12px);
    margin-bottom: 2em;
    @media (max-width: 1500px) { // Mobile 
        width: calc(50% - 12px);
    }
    @media (max-width: 1050px) { // Mobile 
        width: 100%;
    } 
    .img-wrap {
        position: relative;
        height: 35vh;
        overflow: hidden;  
        border-radius: 5px;
        background-color: white;
        transition: all .2s ease-out;  
    }
    .project-image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        transition: all .2s ease-out; 
    }
    .img-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        opacity: 0.2;
        transition: all .2s ease-out;  
    }
    h2 {
        font-size: 30px;
        transition: all .2s ease-out;  
    }
    a {     
        text-decoration: none;
        color: #504168;        
        span {
            display: inline-flex;
            line-height: 30px;
            transition: all .2s ease-out;  
        }
        i {
            font-size: 30px;
            display: inline-flex;
        }
        &:hover h2 {
            opacity: 0.6;
        }
        &:hover span {
            opacity: 0.6;
        }
        &:hover .img-overlay {
            background-color: black;
        }
        &:hover .project-image {
            transform: scale(1.01);   
        }
        &:hover .img-wrap {
            box-shadow: 0 0 .8em .1em #d6d6d6;   
        }
    }
}

// Contact form Section
#form-section {
    display: flex;
    padding: 0 4em 4em;
    @media (max-width: 950px) { // Tablet 
        flex-direction: column;
    }
    @media (max-width: 770px) { // Mobile 
        padding: 0 1.5em 2em;
    } 
}

.contact {
    width: 330px;
    margin: 0 4em 2em 0;
    color: #1b424c;
    p, h2, h3 {
        margin-bottom: 15px;
    }
    span {
        font-weight: 600;
        font-size: 18px;
    }
    a {
        text-decoration: none;
        color: #1b424c;
    }
    @media (max-width: 950px) { // Mobile 
        width: 100%;
    } 
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 100%;    
    input {
        width: 100%;
        padding: 1em;
        margin-bottom: 1em;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: rgb(226, 226, 226);
        &:focus {
            outline: none;
            background-color: darken(rgb(226, 226, 226), 5%);
        }
    }
    #firstname, #lastname {
        width: calc(50% - 38px);
    }
    #message {
        padding-bottom: 10em;
    }
    input[type=submit] {
        background-color: white;
        color: #1b424c;
        width: 11em;
        border-color: #1b424c;
        font-weight: 600;
    }
}

.scroll-up {
    left: 50%;
    color: black;
    text-align: center;
    padding: 5em 0 2em;
    a {
        position: relative;
        font-size: 1.4em;
        text-decoration: none;
        color: black;
        &::after {
            transform-origin: right;
            position: absolute;
            display: flex;
            left: 50%;
            bottom: 150%;            
            content: "";
            border-radius: 30% 30%;
            width: 7px;
            height: 20px;
            transform: rotate(-45deg);
            background-color: black;
        }
        &::before {
            transform-origin: left;
            position: absolute;
            display: flex;
            right: 50%;
            bottom: 150%;             
            content: "";
            border-radius: 30% 30%;
            width: 7px;
            height: 20px;
            transform: rotate(45deg);
            background-color: black;
        }
    }    
}